<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Seznam postů</title>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" href="/css/skeleton.css" th:href="@{/css/skeleton.css}">
  <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
  <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body>
<main class="container">
  <h1>Seznam postů</h1>
  <table class="u-full-width">
    <thead>
    <tr>
      <th>Titulek</th>
      <th>Autor</th>
      <th>Perex</th>
      <th>Datum publikování</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post:${posty}">
      <td th:text="${post.title}"></td>
      <td th:text="${post.author}"></td>
      <td th:text="${post.perex}"></td>
      <td th:text="${post.published}"></td>
      <td><a th:href="@{/post/{slugPart}(slugPart=${post.slug})}">Přečíst</a></td>
    </tr>
    </tbody>
  </table>
</main>
</body>
</html>